package input

type Context struct {
	Country  string `mapstructure:"country" json:"country"`
	Language string `mapstructure:"language" json:"language"`
	Region   string `mapstructure:"region" json:"region"`
}
