//nolint:dupl
package messagebus

import (
	"encoding/json"
	"fmt"

	"{{.ModuleName}}/internal/messagebus/event"
	"bitbucket.org/csgot/helis-enq2bus-go/pkg/enq2bus"
)

type EventBusEnvelopeWrapper struct{}

func NewEventBusEnvelopeWrapper() *EventBusEnvelopeWrapper {
	return &EventBusEnvelopeWrapper{}
}

func (w *EventBusEnvelopeWrapper) Unwrap(envelope *enq2bus.Envelope) (interface{}, error) {
	var serializedMessage interface{}

	switch envelope.Type {
	case event.GreetingEventType:
		serializedMessage = &event.GreetingEvent{}
	// TODO: add events
	default:
		return nil, fmt.Errorf("unsupported event type %s", envelope.Type)
	}

	if err := json.Unmarshal([]byte(envelope.SerializedMessage), &serializedMessage); err != nil {
		return nil, fmt.Errorf("failed to unmarshal %s into struct: %w", envelope.Type, err)
	}

	return serializedMessage, nil
}
